<extend name="layout/layout_admin"/>

<block name="css">
    <style>
        #errors {
            display: none;
        }
    </style>
</block>

<block name="content">
    <div class="page-header">
        <h1>修改密码
            <small>Subtext for header</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">修改密码</div>
                <div class="panel-body">

                    <div class="alert alert-danger" role="alert" id="errors">
                    </div>

                    <form class="form-horizontal" action="{{:U('do_change_password')}}" method="post">
                        <div class="form-group">
                            <label for="old_password" class="col-sm-2 control-label">原始密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="old_password" placeholder="请输入原始密码" name="old_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">新密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" placeholder="请设置新密码" name="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="check_password" class="col-sm-2 control-label">确认密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="check_password" placeholder="请确认新密码" name="check_password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" id="do_change">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script>
        $(function () {
            $("#do_change").click(function () {
                var old_password = $.trim($("#old_password").val());
                var password = $.trim($("#password").val());
                var check_password = $.trim($("#check_password").val());

                var errors = "";
                if (old_password == "") {
                    errors += "<p>原始密码不能为空！</p>";
                    $("#old_password").focus();
                }

                if (password == "" || check_password == "") {
                    errors += "<p>新密码不能为空！</p>";
                }

                if (password != check_password) {
                    errors += "<p>两次密码不一致！</p>";
                }

                if (errors != "") {
                    $("#errors").html(errors).fadeIn(300);
                    return false;
                }
            });
        })
    </script>
</block>